{% extends "MyInventoryApp/base.html" %}

{% block content %}

<h2>Water Bottle Inventory</h2>

<table>
    <thead>
        <tr>
            <th>SKU</th>
            <th>Brand</th>
            <th>Mouth Size</th>
            <th>Size</th>
            <th>Color</th>
            <th>Supplier</th>
            <th>Cost</th>
            <th>Quantity</th>
        </tr>
    </thead>

    <tbody>

    {% for bottle in bottles %}
        <tr>
            <td>
                <a href="{% url 'view_bottle_details' bottle.pk %}">
                    {{ bottle.sku }}
                </a>
            </td>
            <td>{{ bottle.brand }}</td>
            <td>{{ bottle.mouth_size }}</td>
            <td>{{ bottle.size }}</td>
            <td>{{ bottle.color }}</td>
            <td>{{ bottle.supplied_by.name }}</td>
            <td>{{ bottle.cost }}</td>
            <td>{{ bottle.current_quantity }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}