{% extends "MyInventoryApp/base.html" %}

{% block content %}

<h2>Supplier List</h2>

<a href="{% url 'add_bottle' %}">Add Water Bottles</a>
<a href="{% url 'manage_account' pk=account.id %}">Manage Account</a>
<a href="{% url 'login' %}">Logout</a>

<br><br>

<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Country</th>
            <th>Created At</th>
        </tr>
    </thead>

    <tbody>

    {% for supplier in suppliers %}
        <tr>
            <td>
                <a href="{% url 'view_bottles' %}">
                    {{ supplier.name }}
                </a>
            </td>
            <td>{{ supplier.city }}</td>
            <td>{{ supplier.country }}</td>
            <td>{{ supplier.created_at }}</td>
        </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}